#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea/*
!.idea/icon.svg
!.idea/runConfigurations/
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Secret key
secret.key
!*/src/test/resources/secret.key

# Host volume mount for demo
apiserver-data/

# Generated test fixtures
testdata/boms/generated/*.cdx.json

# nix
.direnv
.pre-commit-config.yaml

# Material for MkDocs
.cache/
/node_modules/
/test-results/
/blob-report/

# Playwright
/playwright-test-results/
/e2e/playwright-tests/setup/locales
/e2e/playwright-tests/.auth
playwright-report
