version: "3"

services:
  notification-publisher:
    image: ghcr.io/mehab/notification-publisher:latest
    depends_on:
      - postgres
      - redpanda
    environment:
      QUARKUS_KAFKA_STREAMS_BOOTSTRAP_SERVERS: "dt-redpanda:29092"
      KAFKA_STREAMS_NUM_STREAM_THREADS: "1"
      # KAFKA_STREAMS_NUM_STREAM_THREADS: "3"
      QUARKUS_DATASOURCE_JDBC_URL: "jdbc:postgresql://dt-postgres:5432/dtrack"
      QUARKUS_DATASOURCE_USERNAME: "dtrack"
      QUARKUS_DATASOURCE_PASSWORD: "dtrack"
    ports:
      # Dynamic host port binding to allow for scaling of the service.
      # Scaling with Compose doesn't work when assigning static host ports.
      - "8090"
    profiles:
      - demo
    restart: unless-stopped

  repo-meta-analyzer:
    image: ghcr.io/mehab/repository-meta-analyzer:latest
    depends_on:
      - postgres
      - redpanda
    environment:
      QUARKUS_KAFKA_STREAMS_BOOTSTRAP_SERVERS: "dt-redpanda:29092"
      KAFKA_STREAMS_NUM_STREAM_THREADS: "1"
      # KAFKA_STREAMS_NUM_STREAM_THREADS: "3"
      QUARKUS_DATASOURCE_JDBC_URL: "jdbc:postgresql://dt-postgres:5432/dtrack"
      QUARKUS_DATASOURCE_USERNAME: "dtrack"
      QUARKUS_DATASOURCE_PASSWORD: "dtrack"
    ports:
      # Dynamic host port binding to allow for scaling of the service.
      # Scaling with Compose doesn't work when assigning static host ports.
      - "8091"
    profiles:
      - demo
    restart: unless-stopped

  vuln-analyzer:
    image: ghcr.io/mehab/vulnerability-analyzer:latest
    depends_on:
      - postgres
      - redpanda
    environment:
      QUARKUS_KAFKA_STREAMS_BOOTSTRAP_SERVERS: "dt-redpanda:29092"
      KAFKA_STREAMS_NUM_STREAM_THREADS: "1"
      # KAFKA_STREAMS_NUM_STREAM_THREADS: "3"
      QUARKUS_DATASOURCE_JDBC_URL: "jdbc:postgresql://dt-postgres:5432/dtrack"
      QUARKUS_DATASOURCE_USERNAME: "dtrack"
      QUARKUS_DATASOURCE_PASSWORD: "dtrack"
      SCANNER_OSSINDEX_ENABLED: "true"
      # SCANNER_OSSINDEX_API_USERNAME: "email@example.com"
      # SCANNER_OSSINDEX_API_TOKEN: "your-token"
      # SCANNER_SNYK_ENABLED: "true"
      # SCANNER_SNYK_ORG_ID: "your-org-id"
      # SCANNER_SNYK_TOKEN: "your-token"
    ports:
      # Dynamic host port binding to allow for scaling of the service.
      # Scaling with Compose doesn't work when assigning static host ports.
      - "8092"
    profiles:
      - demo
    restart: unless-stopped

  apiserver:
    build:
      context: ../dependency-track
      dockerfile: src/main/docker/Dockerfile.demo
    container_name: dt-apiserver
    depends_on:
      - postgres
      - redpanda
    environment:
      ALPINE_DATABASE_MODE: "external"
      ALPINE_DATABASE_URL: "jdbc:postgresql://dt-postgres:5432/dtrack"
      ALPINE_DATABASE_DRIVER: "org.postgresql.Driver"
      ALPINE_DATABASE_USERNAME: "dtrack"
      ALPINE_DATABASE_PASSWORD: "dtrack"
      ALPINE_METRICS_ENABLED: "true"
      KAFKA_BOOTSTRAP_SERVERS: "dt-redpanda:29092"
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      - "./apiserver-data:/data"
      - "./secret.key:/data/.dependency-track/keys/secret.key:ro"
    profiles:
      - demo
    restart: unless-stopped

  frontend:
    image: dependencytrack/frontend:snapshot
    environment:
      API_BASE_URL: "http://localhost:8080"
    ports:
      - "127.0.0.1:8081:8080"
    profiles:
      - demo
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    container_name: dt-postgres
    environment:
      POSTGRES_DB: "dtrack"
      POSTGRES_USER: "dtrack"
      POSTGRES_PASSWORD: "dtrack"
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - "postgres-data:/var/lib/postgresql/data"
      - "./commons/src/main/resources/migrations/postgres:/docker-entrypoint-initdb.d"
    restart: unless-stopped

  redpanda:
    image: docker.redpanda.com/vectorized/redpanda:v22.3.8
    container_name: dt-redpanda
    command:
      - redpanda
      - start
      - --smp
      - '1'
      - --reserve-memory
      - 0M
      - --overprovisioned
      - --node-id
      - '0'
      - --kafka-addr
      - PLAINTEXT://0.0.0.0:29092,OUTSIDE://0.0.0.0:9092
      - --advertise-kafka-addr
      - PLAINTEXT://dt-redpanda:29092,OUTSIDE://host.minikube.internal:9092
      - --pandaproxy-addr
      - PLAINTEXT://0.0.0.0:28082,OUTSIDE://0.0.0.0:8082
      - --advertise-pandaproxy-addr
      - PLAINTEXT://dt-redpanda:28082,OUTSIDE://localhost:8082
    ports:
      # Kafka API
      - "9092:9092"
      # Schema Registry (currently not used)
      # - "127.0.0.1:28081:8081"
      # Pandaproxy (REST API, currently not used)
      # - "127.0.0.1:28082:8082"
    volumes:
      - "redpanda-data:/var/lib/redpanda/data"
    restart: unless-stopped

  redpanda-init:
    image: docker.redpanda.com/vectorized/redpanda:v22.3.8
    container_name: dt-redpanda-init
    depends_on:
      - redpanda
    entrypoint: "/bin/bash"
    command: "/tmp/create-topics.sh"
    user: "0" # Ensure user can read create-topics.sh
    environment:
      REDPANDA_BROKERS: "dt-redpanda:29092"
      NOTIFICATION_TOPICS_PARTITIONS: "3"
      NOTIFICATION_TOPICS_RETENTION_MS: "43200000" # 12h
      REPO_META_ANALYSIS_TOPICS_PARTITIONS: "3"
      REPO_META_ANALYSIS_TOPICS_RETENTION_MS: "43200000" # 12h
      VULN_ANALYSIS_TOPICS_PARTITIONS: "3"
      VULN_ANALYSIS_TOPICS_RETENTION_MS: "43200000" # 12h
    volumes:
      - "./scripts/create-topics.sh:/tmp/create-topics.sh:ro"
    restart: on-failure

  redpanda-console:
    image: docker.redpanda.com/vectorized/console:v2.1.1
    container_name: dt-redpanda-console
    depends_on:
      - redpanda
    environment:
      KAFKA_BROKERS: "redpanda:29092"
    ports:
      - "127.0.0.1:28080:8080"
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:v2.40.7
    container_name: dt-prometheus
    ports:
      - "127.0.0.1:9090:9090"
    volumes:
      - "./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro"
      - "prometheus-data:/prometheus"
    profiles:
      - monitoring
    restart: unless-stopped

  grafana:
    image: grafana/grafana-oss:9.3.2
    container_name: dt-grafana
    depends_on:
      - prometheus
    environment:
      GF_SECURITY_ADMIN_USER: "admin"
      GF_SECURITY_ADMIN_PASSWORD: "admin"
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - "grafana-data:/var/lib/grafana"
      - "./monitoring/grafana/dashboards:/etc/dashboards:ro"
      - "./monitoring/grafana/provisioning:/etc/grafana/provisioning:ro"
    profiles:
      - monitoring
    restart: unless-stopped

volumes:
  postgres-data: {}
  redpanda-data: {}
  grafana-data: {}
  prometheus-data: {}
