{{- if .Values.frontend.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "hyades.frontendName" . }}
  namespace: {{ .Release.Namespace }}
  labels: {{- include "hyades.frontendLabels" . | nindent 4 }}
spec:
  type: {{ .Values.frontend.service.type | quote }}
  ports:
  - name: web
    port: 8080
    targetPort: web
  selector: {{- include "hyades.frontendSelectorLabels" . | nindent 4 }}
{{- end }}