---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hyades.repoMetaAnalyzerFullname" . }}
  namespace: {{ .Release.Namespace }}
  labels: {{- include "hyades.repoMetaAnalyzerSelectorLabels" .  | nindent 4 }}
spec:
  replicas: {{ .Values.repoMetaAnalyzer.replicaCount }}
  selector:
    matchLabels: {{- include "hyades.repoMetaAnalyzerSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels: {{- include "hyades.repoMetaAnalyzerSelectorLabels" . | nindent 8 }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: /q/metrics
        {{- with .Values.repoMetaAnalyzer.annotations }}
          {{ toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.common.image.pullSecrets }}
      imagePullSecrets: {{- toYaml . | nindent 6 }}
      {{- end }}
      containers:
      - name: {{ include "hyades.repoMetaAnalyzerName" . }}
        image: {{ include "hyades.repoMetaAnalyzerImage" . }}
        imagePullPolicy: {{ .Values.repoMetaAnalyzer.image.pullPolicy }}
        {{- with .Values.repoMetaAnalyzer.command }}
        command: {{ toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.repoMetaAnalyzer.args }}
        args: {{ toYaml . | nindent 8 }}
        {{- end }}
        resources:
          {{- toYaml .Values.repoMetaAnalyzer.resources | nindent 10 }}
        env:
        - name: QUARKUS_DATASOURCE_JDBC_URL
          value: {{ .Values.common.database.jdbcUrl | quote }}
        {{- with .Values.common.database.username }}
        - name: QUARKUS_DATASOURCE_USERNAME
          value: {{ . | quote }}
        {{- end }}
        {{- with .Values.common.database.password }}
        - name: QUARKUS_DATASOURCE_PASSWORD
          value: {{ . | quote }}
        {{- end }}
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: {{ .Values.common.kafka.bootstrapServers | quote }}
        {{- with .Values.common.kafka.topicPrefix }}
        - name: API_TOPIC_PREFIX
          value: {{ . | quote }}
        {{- end }}
        {{- range $k, $v := .Values.repoMetaAnalyzer.extraEnv }}
        - name: {{ $k }}
          value: {{ $v | quote }}
        {{- end }}
        {{- with .Values.repoMetaAnalyzer.extraEnvFrom }}
        envFrom: {{ toYaml . | nindent 8 }}
        {{- end }}
        ports:
        - name: web
          containerPort: 8091
          protocol: TCP
        livenessProbe:
          httpGet:
            scheme: HTTP
            port: web
            path: /q/health/live
          failureThreshold: {{ .Values.repoMetaAnalyzer.probes.liveness.failureThreshold }}
          initialDelaySeconds: {{ .Values.repoMetaAnalyzer.probes.liveness.initialDelaySeconds }}
          periodSeconds: {{ .Values.repoMetaAnalyzer.probes.liveness.periodSeconds }}
          successThreshold: {{ .Values.repoMetaAnalyzer.probes.liveness.successThreshold }}
          timeoutSeconds: {{ .Values.repoMetaAnalyzer.probes.liveness.timeoutSeconds }}
        readinessProbe:
          httpGet:
            scheme: HTTP
            port: web
            path: /q/health/ready
          failureThreshold: {{ .Values.repoMetaAnalyzer.probes.readiness.failureThreshold }}
          initialDelaySeconds: {{ .Values.repoMetaAnalyzer.probes.readiness.initialDelaySeconds }}
          periodSeconds: {{ .Values.repoMetaAnalyzer.probes.readiness.periodSeconds }}
          successThreshold: {{ .Values.repoMetaAnalyzer.probes.readiness.successThreshold }}
          timeoutSeconds: {{ .Values.repoMetaAnalyzer.probes.readiness.timeoutSeconds }}