---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "hyades.vulnAnalyzerName" . }}
  namespace: {{ .Release.Namespace }}
  labels: {{- include "hyades.vulnAnalyzerLabels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
  - port: 80
    targetPort: web
  selector: {{- include "hyades.vulnAnalyzerSelectorLabels" . | nindent 4 }}